<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Staradvertiser.com Subscription Receipt</title>
</head>
<body>
<table width="600" cellpadding="0" cellspacing="0" align="center">
	<tr>
    	<td align="center" style="padding:10px"><img src="http://gateway.staradvertiser.com/images/Star-Advertiser-logo-color.jpg" width="364" height="74" /></td>
    </tr>
    <tr>
   	  <td style="font-family:Arial, Helvetica, sans-serif;padding:20px">
  			<p>Aloha,</p>

            <p>
				<%= body.replace(/\n/g, '<br />') %>
			</p>
           
		<p>If you have any questions, please visit our <a href="https://gateway.staradvertiser.com/faq.php">FAQs</a>, email us at <a href="mailto:customerservice@staradvertiser.com">customerservice@staradvertiser.com</a>, or give us a call at (808) 538-6397.</p>
        
  		<p>Mahalo,<br /><br />Star-Advertiser Customer Service</p>
        </td>
    </tr>
     <tr>
    <td style="background-color:#FFFFFF; padding:3px; font-size:11px; color:#999999; text-align:center; line-height:20px"><strong>** DO NOT REPLY TO THIS EMAIL **</strong><br /> 
    This account is not monitored and you will not receive a reply. For questions about your Star-Advertiser subscription please contact our circulation department via email at <a href="mailto:customerservice@staradvertiser.com">customerservice@staradvertiser.com</a> or by phone at (808) 538-6397.<br />
    Staradvertiser.com | 500 Ala Moana Blvd. #7-210 | Honolulu, HI 96813<br />
  </td>
  </tr>
</table>
</body>
</html>
